html {
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-image: url("../media/waber.png");
    background-repeat: repeat;
    width: 100vw;
    height: 100vh;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.bubble {
    left: 0;
    top: 0;
    position: absolute;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-image: url("../media/loony.png");
    animation: bounce .5s cubic-bezier(.5, -.9, .6, 1.9) forwards;
    transform: translate(-50%, -50%);
    transition: width .3s cubic-bezier(.7, -.6, .4, 1.5), height .3s cubic-bezier(.7, -.6, .4, 1.5), opacity .3s ease-out;
}

.is-popping {
    height: 0;
    width: 0;
    opacity: 0;
}

@keyframes bounce {
    0% {
        height: 50px;
        width: 50px;
    }

    100% {
        height: 100px;
        width: 100px;
    }
}